.modelviewspanel
{
  position:absolute;
  top:0px;
  right:0px;
  font-family: "Segoe UI",Arial, sans;
  font-size: 12.73px;
  transition: all 0.2s ease;
  width:255px;
}
.modelviewspanel .view
{
    margin:5px;
    padding:5px;
    bottom:0px;
 display: inline-block;float: left;
 width:235px;
 background:rgba(53,55,67,0.2);
 color:White;
}
.modelviewspanel .view:hover
{
   background:rgba(53,55,67,0.6);
}
.modelviewspanel .view h2{
 font-size: 16px;
 font-family: "Segoe UI Semibold","Segoe UI",Tahoma,Helvetica,Sans-Serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color:rgba(255,255,255,1.0);
}
.modelviewspanel .NavRightCell {
    float: right;
    padding-top:10px;
    padding-bottom:5px;
}
.modelviewspanel .flatButton{
 font-family: 'Segoe UI SemiBold','Segoe UI', Arial, sans-serif;
 color: white;
 text-decoration: none;
 text-align: center;
 padding: 5px 15px 5px 15px;
 font-size:13.64px;
 background: #00AEEE;
 color: #FFF;
 cursor: pointer;
 opacity:0.3;
}
.modelviewspanel .view:hover .flatButton
{
   opacity:1.0;
}
.modelviewspanel .flatButton:hover {
 background: #0090C6;
 text-decoration: none;
 color: white;
}
